
@use 'variables' as *;
@use 'sass:color';

@mixin btn($bg-color : #e2e2e2){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding*1.2 $base-padding * 4;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    font-weight: 900;
    text-transform:uppercase;
    font-size:  $base-font-size;
    margin-bottom: $base-margin*2;
    letter-spacing: 2
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: color.adjust($val, $lightness: 10%);
        }
    }
 
}