@use 'variables' as *;
@use 'breakpoints' as *;
@use 'animations' as *;

.glow-text {
    color: #fff; /* White text */
    
}


@include xs {
    .cards__wrapper{
        width: 90%;
        margin: 0 auto;

        .cards__list--item{
            position: relative;
            .cards__list--background-image--1, .cards__list--background-image--2, .cards__list--background-image--5, .cards__list--background-image--7{
                display: none;
            }

            .card{
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 85%;
                margin: 0 auto;
                margin-bottom: $base-margin*5;
    
                &.card--reverse{
                    align-items: flex-end;
                }

                .card__number {
                    border: 1px solid;
                    border-image: linear-gradient(to bottom, $primary, black) 1;
                    border-radius: $base-border-radius;
                    padding: $base-padding $base-padding*6;
                    margin-bottom: $base-margin*4;
                    p{
                        font-size: $font-size-lg;
                        line-height: 0.9;
                        font-weight: 900;
                        background: linear-gradient(to bottom, #9cffa3, #32f26f, $primary, #117b36, black );
                        -webkit-background-clip: text;
                        color: transparent;
                        text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),  
                        0 0 20px rgba(255, 255, 255, 0.1),  
                       0 0 30px rgba(255, 255, 255, 0.01);  
                    }
                }
                .card__content {
                    line-height: 1.5;
                    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 
                     0 0 20px rgba(255, 255, 255, 0.4),  
                     0 0 30px rgba(255, 255, 255, 0.3),  
                     0 0 40px rgba(255, 255, 255, 0.2), 
                     0 0 50px rgba(255, 255, 255, 0.1);  
                    h3{
                        font-size: $font-size-sm;
                    }
                    p{
                        text-align: justify;
                    }
                }
            }

            .card__connector--right {
                position: absolute;
                width: 55%;
                height: 20px;
                left: 1rem;
                bottom: -2rem;
                z-index: 1;
                transform: translateY(93%);
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0 30px 0 0;
                    border-top: solid 2px transparent;
                    border-right: solid 2px transparent;
                    background: linear-gradient(to right, transparent, #00d15f);
                    -webkit-mask: 
                        linear-gradient(#fff 0 0) padding-box, 
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
            }
        
           
            .card__connector--left {
                    position: absolute;
                    width: 55%;
                    height: 20px;
                    right: 1rem;
                    bottom: -2rem;
                    z-index: 1;
                    transform: translateY(93%);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 30px 0 0 0;
                        border-top: solid 2px transparent;
                        border-left: solid 2px transparent;
                        background: linear-gradient(to left, transparent, #00d15f);
                        -webkit-mask: 
                            linear-gradient(#fff 0 0) padding-box, 
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                    }
                }
        }
        
    }
}


@include sm {
    .cards__wrapper{
        .cards__list--item{
            .card__connector--right{
                width: 65%;
             
            }

            .card__connector--left{
                width: 65%;
        
            }
        }
    }
}
@include md {
    .cards__wrapper{
        .cards__list--item{
            &.card--1{
                position:relative;
            }
         
            &.card--3{
              
                position:relative;
            }
            &.card--5{
                position:relative;
            }
         
            &.card--7{
                position:relative;
            }
            .card{
                flex-direction: row;
    
                &.card--reverse{
                    flex-direction: row-reverse;
                    margin-left: $base-margin*10;
                    align-items: flex-start;
                }
    
                .card__number{
                    margin-right: $base-margin*2;
                }
            }
            .cards__list--background-image--1{
                position: absolute;
                top: 4rem;
                right: 0;
                background: 
                radial-gradient(circle, rgba(24, 57, 232, 0.8) 0%, rgba(24, 57, 232, 0.4) 5%, rgba(24, 57, 232, 0) 80%), 
                url('/images/bounce_right.png') center center no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: -1;
               display: block;
               width: 200px;
               height: auto;
               animation: fadeIn 3.5s ease-in-out;
            }
            .cards__list--background-image--2{
                position: absolute;
                top: -10rem;
                left: -5rem;
                width: 200px;
                height: auto;
                background: 
                radial-gradient(circle, rgba(24, 57, 232, 0.8) 0%, rgba(24, 57, 232, 0.4) 5%, rgba(24, 57, 232, 0) 80%), 
                url('/images/bounce_left.png') center center no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: -1;
                display: block;
                animation: fadeIn 3.5s ease-in-out;
            }

            .cards__list--background-image--5{
                position: absolute;
                top: -8rem;
                right: -3rem;
                width: 200px;
                height: auto;
                background: 
                radial-gradient(circle, rgba(24, 57, 232, 0.7) 0%, rgba(24, 57, 232, 0.4) 5%, rgba(24, 57, 232, 0) 80%), 
                url('/images/bounce_right.png') center center no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: -1;
                display: block;
                animation: fadeIn 3.5s ease-in-out;
            }

            .cards__list--background-image--7{
                position: absolute;
                top: -15rem;
                left: -8rem;
                width: 300px;
                height: auto;
                background: 
                radial-gradient(circle, rgba(24, 57, 232, 0.8) 0%, rgba(24, 57, 232, 0.4) 5%, rgba(24, 57, 232, 0) 80%), 
                url('/images/bounce_left.png') center center no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: -1;
                display: block;
                animation: fadeIn 3.5s ease-in-out;
            }

            .card__connector--right{
                left: 8rem;
             
            }

            .card__connector--left{
               right: 8rem;
        
            }
        }
    
    }
 
}
@include lg {
}
@include xl {
    .cards__wrapper{
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
        .cards__list--item{
           
            &.card--2{
                .card__connector--left{
                    right: 2rem;
                    width: 70%;
                
                 }
            }
            &.card--3{
                margin-left: $base-margin*20;
            
            }
          
            &.card--6{
                .card__connector--left{
                    right: 2rem;
                    width: 70%;
                 }
            }
            &.card--7{
                margin-left: $base-margin*20;
            }
            .card{
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: $base-margin*8;
                width: 100%;

                &.card--reverse{
                  
                    margin-left: $base-margin;
                }

                .card__number{
                   p{
                    font-size: $font-size-xl;
                   }
                }
                .card__content{
                    max-width: 60%;
                    h3{
                        margin-bottom: $base-margin;
                    }
                    p{
                        font-size: $base-font-size*1.3;
                    }
                }
            }
            .cards__list--background-image--1{
                width: 250px;
                top: 2rem;
            }
            .cards__list--background-image--2{
            
                left: -20rem;
             
            }

            .cards__list--background-image--5{
             
               top:2rem;
              
                
            }

            .cards__list--background-image--7{
          
                top: -5rem;
                left: -15rem;
      
            }

            .card__connector--right{
                width: 80%;
            }
            .card__connector--left{
                width: 80%;
            }
            }
          
            
    }
}


